{% extends 'base.html.twig' %}

{% block title %}Hello MeteoController!
{% endblock %}

{% block body %}
	<section class="vh-100" style="background-color: #eee;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-8 col-lg-6 col-xl-4">

					<div class="card" style="border-radius: 10px;">
						<div class="bg-image ripple" data-mdb-ripple-color="light" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
							<img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-weather/draw2.png" class="w-100"/>
							<div class="mask" style="background-color: rgba(0,0,0,.45)">
								<div class="d-flex justify-content-between p-4">
									<a href="#!" class="text-white">
										<i class="fas fa-chevron-left fa-lg"></i>
									</a>
									<a href="#!" class="text-white">
										<i class="fas fa-cog fa-lg"></i>
									</a>
								</div>
								<div class="text-center text-white">
									<p class="h3 mb-4">Clear night</p>
									<p class="h5 mb-4">{{ meteoBordeaux.title }}</p>
									<p class="display-2">
										<strong>{{ meteoBordeaux.consolidated_weather.0.the_temp}}°C</strong>
									</p>
								</div>
							</div>
						</div>
						<div class="card-body p-4 text-center">
							<a href="#!" class="text-body">
								<i class="fas fa-chevron-up fa-lg mb-4"></i>
							</a>
							<div class="d-flex justify-content-between mb-3">
								<p class="h5 fw-normal">{{ meteoBordeaux.consolidated_weather.0.weather_state_name }}</p>
								<p class="h5 fw-normal">
									<i class="fas fa-sun pe-2"></i>
									23°C</p>
							</div>
							<div class="d-flex justify-content-between" style="color: #aaa;">
								<p class="h5 fw-normal">Demain</p>
								<p class="h5 fw-normal">
									<i class="fas fa-cloud pe-2"></i>
									21°C</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

{% endblock %}
