{% block title %}
    <div class="text-center">
        MES DERNIERES ACTUALITES
    </div>

{% endblock %}

{% block body %}
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for blogspot in blogspots %}
                    <div class="col">
                        <div class="card shadow-lg h-100 m-2">
                            <div class="card-body">
                                <h5 class="card-title">{{ blogspot.titre }}</h5>
                                <p class="card-text">{{ blogspot.contenu }}</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}