{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'home/welcome.html.twig' %}
    {% include 'home/realisations.html.twig' %}
    {% include 'home/blogspot.html.twig' %}
{% endblock %}


