{% block title %}
	<div class="text-center">
		MES DERNIERES REALISATIONS
	</div>
{% endblock %}

{% block body %}
	<div class="album py-5">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for peinture in peintures %}
					<div class="col">
						<div class="card" style="width: 18rem;">
							<img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">{{ peinture.nom }}</h5>
								<p class="card-text">{{ peinture.description }}</p>
								<a href="peinture/{{peinture.slug}}" class="btn btn-primary">Voir Peinture</a>
							</div>
						</div>
					</div>

				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
