<!-- Welcome-->
<div style="background-image: url('https://www.revuedesdeuxmondes.fr/wp-content/uploads/2017/10/Mahana-no-atua.jpg');
		            height: 90vh; width: 100%">
	<div class="container-fluid">
		<div class="d-flex justify-content-center text-light">BIENVENUE SUR CROCPAINT!</div>
		<div class="d-flex justify-content-center text-light">Artiste peintre New Yorkais</div>
		<div class="d-flex justify-content-center">
			<a class="btn btn-primary btn-xl text-uppercase, mt-xxl-5" href="#services">Acceder au Portfolio</a>
		</div>
	</div>
</div>
