<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home') }}">CrocPaint</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('realisations') }}">Realisations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('blogspots') }}">Actualités</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('meteo') }}">Metéo</a>
				</li>
			</ul>
			<form class="flex">
				<button class="btn btn-outline-success me-2" type="button" onclick="window.location.href='{{ path('contact') }}'">Me Contacter</button>
			</form>
		</div>
	</div>
</nav>
