{% extends 'base.html.twig' %}

{% block title %}
	{{blogpost.titre}}
{% endblock %}

{% block body %}
	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">{{blogpost.titre}}</h5>
			<p class="card-text">{{blogpost.contenu}}.</p>
			<p class="card-text">
				<small class="text-muted">Commentaire mis à jour le
					{{blogpost.createdAt|date("d/m/Y")}}</small>
			</p>
		</div>
	</div>
{% endblock %}
