{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="bg-white p-5 contact-form">
		<div class="form-group">
			{{ form_start(form) }}
			{{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
