{% extends 'base.html.twig' %}
{% block body %}
	<div class="album py-5">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for blogspot in blogspots %}
					<div class="col">
						<div class="card shadow-lg h-100 m-2">
							<div class="card-body">
								<h5 class="card-title">{{ blogspot.titre }}</h5>
								<p class="card-text">{{ blogspot.contenu }}</p>
								<p class="card-text">
									<small class="text-muted">Commentaire mis à jour le
										{{blogspot.createdAt|date("d/m/Y")}}</small>
								</p>
								<a href="actualites/{{blogspot.slug}}" class="btn btn-primary">Voir article</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		{{ knp_pagination_render(blogspots, 'base/pagination.html.twig') }}
	</div>
{% endblock %}
