{% extends 'base.html.twig' %}

{% block title %}
	{{peinture.nom}}
{% endblock %}

{% block body %}
	<div class="card mb-3" style="max-width: 900px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{{ vich_uploader_asset(peinture, 'imageFile') }}" class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{peinture.nom}}</h5>
					<p class="card-text">
						{{peinture.description}}</p>
					<p class="card-text">
						<small class="text-muted">Peinture mise à jour le
							{{peinture.createAt|date("d/m/Y")}}</small>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
